---
layout: default
---

<h2>Organizadores</h2>

<ul class="member-wrapper  clearfix">
	<li>
		<img src="/img/portrait-ulises.jpg" alt="Fotografía de">
		<p>Ulises Gascón</p>
		<div class="member-media">
			{% include twitter.html %}
			<a class="link" href="https://twitter.com/kom_256">Twitter</a>
		</div>
		<div class="member-media">
			{% include github.html %}
			<a class="link" href="https://github.com/UlisesGascon">Github</a>
		</div>
	</li>
	<li>
		<img src="/img/portrait-jose.jpg" alt="Fotografía de José">
		<p>José Gallego</p>
		<div class="member-media">
			{% include twitter.html %}
			<a class="link" href="https://twitter.com/Josetekh">Twitter</a>
		</div>
		<div class="member-media">
			{% include github.html %}
			<a class="link" href="https://github.com/Josheriff">Github</a>
		</div>
	</li>
	<li>
		<img src="/img/portrait-ignacio.jpg" alt="Fotografía de Ignacio">
		<p>Ignacio Villanueva</p>
		<div class="member-media">
			{% include twitter.html %}
			<a class="link" href="https://twitter.com/IgnaciodeNuevo">Twitter</a>
		</div>
		<div class="member-media">
			{% include github.html %}
			<a class="link" href="https://github.com/IgnaciodeNuevo">Github</a>
		</div>
	</li>
</ul>

<h2>Contacto</h2>

{% include contacto.html %}

<h2>Mentores</h2>

<ul class="member-wrapper  clearfix">
	<li>
		<img src="/img/portrait-carlos.jpg" alt="Fotografía de Carlos">
		<p>Carlos</p>
		<div class="member-media">
			{% include twitter.html %}
			<a class="link" href="">Twitter</a>
		</div>
		<div class="member-media">
			{% include github.html %}
			<a class="link" href="">Github</a>
		</div>
	</li>
</ul>
