<footer class="foo">

	<h2>Contacto</h2>
	
	{% include contacto.html %}

	<h2>Patrocinadores</h2>

	<ul>
		<li>
			<a class="link" href="http://kingofapp.com/" target="blank">
				<img class="icon-sponsor" src="/img/kingofapp.svg" alt="King of App - Logo">
			</a>
		</li>
		<li>
			<a class="link" href="http://pillarsjs.com/" target="blank">
				<img style="max-height: 55px" class="icon-sponsor" src="/img/pillarsjs.svg" alt="PillarsJS - Logo">
			</a>
		</li>
		<li>
			<a class="link" href="http://fictizia.com/" target="blank">
				<img class="icon-sponsor" src="/img/fictizia.svg" alt="Fictizia - Logo">
			</a>
		</li>
	</ul>
</footer>

