<footer class="foo">

	<h2>Contacto</h2>
	
	{% include contacto.html %}

	<h2>Patrocinadores</h2>

	<ul>
		<li>
			<a href="http://tetuanvalley.com/" target="blank">
				<img class="icon-sponsor" src="/img/tetuanvalley.png" alt="Tetuan Valley - Logo">
			</a>
		</li>
		<li>
			<a class="link" href="https://www.ovh.es/" target="blank">
				<img class="icon-sponsor" src="/img/ovh-white.png" alt="OVH - Logo">
			</a>
		</li>
		<li>
			<a class="link" href="http://pillarsjs.com/" target="blank">
				<img style="max-height: 55px" class="icon-sponsor" src="/img/pillarsjs.svg" alt="PillarsJS - Logo">
			</a>
		</li>
		<li>
			<a class="link" href="http://fictizia.com/" target="blank">
				<img class="icon-sponsor" src="/img/fictizia.svg" alt="Fictizia - Logo">
			</a>
		</li>
		<li>
			<a class="link" href="http://gamify.es/" target="blank">
				<img class="icon-sponsor" src="/img/gamify.png" alt="Gamify - Logo">
			</a>
		</li>
	</ul>
</footer>

