<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  
<title>OpenSource Weekends</title>

<!-- StyleSheets & DNS Prefetch -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="{{ site.twitter }}">
  <link rel="stylesheet" href="/css/main.css">

<!-- Robots & indexing -->
  {% if page.external %}
  <meta name="robots" content="noindex,nofollow">
  <meta http-equiv="refresh" content="0;url={{ page.external.url }}" />
  {% else %}
  <meta name="robots" content="index,follow"> 
  <meta name="revisit-after" content="1 days"> 
  {% endif %}

<!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Martel:900|Open+Sans" rel="stylesheet">

<!-- Open Graph data -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:image" content="/img/logo-color.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="150" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.url }}" />

<!-- Twitter cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@os_weekends">
  <meta name="twitter:domain" content="{{ site.url }}">
  <meta name="twitter:creator" content="@os_weekends">
  <meta name="twitter:title" content="{{ page.title }} – OpenSource Weekends">
  <meta name="twitter:image" content="/img/logo.jpg">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
<!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/img/favicon/manifest.json">
  <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#0D5EFF">
  <meta name="msapplication-TileColor" content="#0D5EFF">
  <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
  
<!-- Chrome for Android Toolbar Color-->
  <meta name="theme-color" content="#FFFFFF">

<!-- Other -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
