// -----------------------------------------------------------------------------
// This file contains styles that are specific to the /acerca page.
// -----------------------------------------------------------------------------
.member-wrapper {
	padding-left: 0;

	& li {
	    position: relative;
	    width: 18.75em;
	    height: 25em;
	    margin: 0 auto;
	    margin-top: 6.25em;
	    background-color: $bgColor;
	    border-radius: 3px;
	    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	    		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    	overflow: hidden;
    	z-index: 1;

    	&:last-child {
    		margin-right: 0;
    	}
	}

	& img {
		max-width: 215px;
	}

	p {
		margin: -7px 0 0 0;
		padding: 5px 10px;
		font-family: $mainFont;
		color: $bgColor;
		@include gradient($mainColor, $secondaryColor);
	}

	& .member-media {
		display: flex;
		align-items: center;
		padding: 5px;
	}

	& a {
		margin-left: 10px;
	}
}

.media {
	display: flex;
	align-items: center;
	padding: 5px;

	& a {
		margin-left: 5px;
	}
}



.card--wrapper {
	padding-left: 0;
}



	.card {
		position: relative;
	    width: 18.75em;
	    height: 22em;
	    margin: 0 auto 1em;
	    background-color: $bgColor;
	    border-radius: 3px;
	    @include boxShador;
		overflow: hidden;
		z-index: 1;

		& .card__banner {
			height: 8em;
			margin-top: -25px;
			@include gradient($mainColor, $secondaryColor);
		}

		& img {
			display: block;
			width: 10em;
			margin: -5em auto 0;
			border: 3px solid $mainColor;
			border-radius: 50%;
		}

		& h3, p {
			text-align: center;
		}

		& p {
			margin-top: -1em;
		}

		& .card__media {
			display: flex;
			justify-content: center;
			padding-left: 0; 
			list-style-type: none;
		}

		& .icon-social {
			width: 2.5em;
			margin-left: 0;
		}
	}













