// -----------------------------------------------------------------------------
// This file contains styles that are specific to the /acerca page.
// -----------------------------------------------------------------------------

.member-wrapper {
	padding-left: 0;

	& li {
		float: left;
		max-width: 215px;
		margin-right: 15px;
		background-color: $lightGrey;
		list-style-type: none;
		border-radius: 3px;
		box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 0 0;
    	overflow: hidden;

    	&:last-child {
    		margin-right: 0;
    	}
	}

	& img {
		max-width: 215px;
	}

	p {
		margin: -7px 0 0 0;
		padding: 5px 10px;
		font-family: $mainFont;
		color: $bgColor;
		@include gradient($mainColor, $secondaryColor);
	}

	& .member-media {
		display: flex;
		align-items: center;
		padding: 5px;
	}

	& a {
		margin-left: 10px;
	}
}

.media {
	display: flex;
	align-items: center;
	padding: 5px;

	& a {
		margin-left: 5px;
	}
}