// -----------------------------------------------------------------------------
// This file contains styles that are specific to the /acerca page.
// -----------------------------------------------------------------------------
.post-list {
	padding-left: 0;
	list-style-type: none;
}

.post--masthead {
	max-width: 1024px;	
}
