// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// -------------------------------------
//	$COLORS
// -------------------------------------
$mainColor: 			#003da5;
$secondaryColor:	#003da5;
$bgColor:					white;
$lightGrey:				#f0f0f0;
$mediumGrey:			#a3a3a3;
$darkGrey:				#333333;



// -------------------------------------
//	$TYPOGRAPHY
// -------------------------------------
$mainFont:
	"Martel",
	"Times New Roman",
	Georgia,
	serif;

$bodyFont:
	"Open Sans",
	sans-serif;

$questionMark:
	"Times New Roman",
	Georgia,
	serif;