*,
*::after,
*::before 
  margin: 0;
  padding: 0;
  box-sizing: inherit;


html 
  // this defines what a 1rem is
  // font-size: 62.5%;


body 
  box-sizing: border-box;

  &::-webkit-scrollbar
    width: 10px;

  &::-webkit-scrollbar-track
    background: rgba(0, 0, 0, 0.2)

  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background: rgba(0, 0, 0, 0.5)

@media screen and (max-width: 600px)
    html, body 
      overflow-x: hidden;
    
    body 
      position: relative;
    

