// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
	display: block;
	max-width: 150px;
	margin-bottom: 30px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: $bgColor;
	border: 3px solid $mainColor;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 0 0;
	background-color: $mainColor;

	&:hover {
		background-color: transparent;
		color: $mainColor;
		text-decoration: none;
	}
}