// -----------------------------------------------------------------------------
// This file contains styles that are specific to the /acerca page.
// -----------------------------------------------------------------------------
.card--wrapper {
	padding-left: 0;
	margin-bottom: 1em;
}

	.card {
		position: relative;
    margin-top: 1em !important;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    float: left;
    background-color: $bgColor;
    border-radius: 3px;
    @include boxShador;
		overflow: hidden;
		z-index: 1;

		& .card__banner {
			height: 8em;
			margin-top: -25px;
			background-color: $mainColor;
		}

		& img {
			display: block;
			width: 10em;
			margin: -5em auto 0;
			border: 3px solid $mainColor;
			border-radius: 50%;
			background-color: $bgColor;
		}

		& h3, p {
			text-align: center;
		}

		& p.align-left {
			text-align: left;
			height: 225px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		& p {
			margin-top: -1em;
			padding-right: 16px;
			padding-right: 1em;
			padding-left: 16px;
			padding-left: 1em;
		}

		& .card__media {
			display: flex;
			justify-content: center;
			padding-left: 0; 
			list-style-type: none;
		}

		& .icon-social {
			width: 2.5em;
			margin-left: 0;
		}
	}

@media screen and (max-width: 39.375em) {
	.card {
		width: 100%;
	}
}


@media screen and (min-width: 39.375em) {
	.card {
		width: calc(50% - 1em);
		margin: 0 1em 1em;

		&:nth-child(1) {
			margin-left: 0;
		}

		&:nth-child(2) {
			margin-right: 0;
		}

		&:nth-child(3) {
			margin: 0;
		}
	}
}

@media screen and (min-width: 62.125em) {
	.card {
		width: calc(33.33333% - 2em);

		&:nth-child(1) {
			margin-left: 0;
		}

		&:nth-child(2) {
			margin: 0 1em;
		}

		&:nth-child(3) {
			margin: 0 0 0 1em;
		}
	}
}
