// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hero {
    height: auto;
    margin-bottom: 2em;
   	padding: 5em 15px;
    @include gradient($mainColor, $secondaryColor);

	& a {
		color: $bgColor;	
	}
}


.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}


h1 {
	max-width: 200px;
	color: $bgColor;

	& div {
		margin-bottom: -16px;
	}

	& a {
		text-decoration: none;
	}

	& a:hover {
		text-decoration: none;
	}
}



// 
// Nav bar
// 
.nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	list-style-type: none;


	li {
		margin-right: 10px;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}	
}

	.nav__link {
		text-decoration: none;

		&:hover {
			text-decoration: none;
			border-bottom: 3px solid $bgColor;
		}
	}


//
// Navigation active item 
//
// .is-active {
// 	background-color: $bgColor;

// 	& a {
// 		color: $mainColor;
// 	}
// }







