// -----------------------------------------------------------------------------
// This file contains typography's CSS
// -----------------------------------------------------------------------------
//
// Basic typography style for copy text
//
body {
	font: 18px/1.4 $bodyFont;
	font: 1.125rem/1.4 $bodyFont;
	color: $darkGrey;
}


// 
// H1, H2, H3, H4 & H5 fontfamily
// 
h1, h2, h3, h4, h5 {
	color: $mainColor;
	font-family: $mainFont;
	font-weight: bold;
}

//
// Headings level 1
//
h1 {
	font-size: 32px;
	font-size: 2rem;
	margin-bottom: 30px;
}

//
// Headings level 2
//
h2 {
	font-size: 28px;
	font-size: 1.75rem;
	margin-bottom: 26px;
}

//
// Headingds level 3
//
h3 {
	font-size: 22px;
	font-size: 1.375rem;
}

//
// Vertical rhythm
//
p, ul, ol, h2, li {
	margin-top: 5px;
	margin-bottom: 10px;
}
